
header {   
    background-position: top;
    background-repeat: no-repeat;    
    color: white;
}
.main-page {
    background-image: url(./img/Main\ bg.jpg);
    height: 670px;
}
.other-page {
    background-image: url(./img/Mask\ Group-1.jpg);
    height: 260px;
} 
.main-about-us-cards { 
    display: flex;
    flex-direction: column;  
    background-image: url(./img/Mask\ Group-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 480px;
    text-align: center;  
    
}
.main-about-us-cards h3 {
    padding-top: 40px;
    padding-bottom: 20px;
}