
header {   
    background-position: top;
    background-repeat: no-repeat;    
    color: white;
}
.main-page {
    background-image: url(./img/Main\ bg.jpg);
    height: 670px;
}
.other-page {
    background-image: url(./img/Mask\ Group-1.jpg);
    height: 260px;
} 
