@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


body {
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family:'Merienda';
}
