@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body{
    font-family: 'Merienda', cursive;
    margin: 0 auto;
}
.controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    margin: 2vw;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
footer nav ul li {
    color: black;
}
footer nav ul li:hover{
    text-shadow: #000 2px 0 10px;
    cursor: pointer;
}
footer nav ul {
    padding: 10px;
    margin: 0;
}

