
.main-about-us-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Mask\ Group-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 480px;
    text-align: center;   
}
.main-about-us-cards h3 {
    padding-bottom: 20px;
}
.cards-conteiner {
    display: flex;
    justify-content: center;
    gap: 20px;    
}