
nav ul {
    padding: 30px 10vw;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav li {
    padding: 5px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    
}
nav li:hover {
    text-shadow: #fff 2px 0 10px;
    cursor: pointer;
}
