
nav ul {
    padding: 30px 150px;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav li {
    list-style: none;
    
}
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}